@import "../../styles/variables.scss";

.pokemon-card {
  text-align: center;
  margin: 0px 5px 15px 5px;
  position: relative;

  &__image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: bottom center;
    margin: 0 60px;
  }

  &__image-only {
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
    text-align: center;
    margin: 0 20px;
  }

  &__number {
    font-size: 10px;
    line-height: 1;
    margin: 0;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin: 0;
  }

  &__data {
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    margin: 10px 0;
  }

  &__attr {
    font-size: 8px;
    font-weight: 600;
    margin: 0px 5px;
  }

  &__more-info {
    margin-bottom: 10px;
  }

  &__card {
    position: absolute;
    z-index: -10;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #78c84f;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 15px 0px #CDCDCD;

    &::after {
      background-color: $background-superlight;
      content: "";
      display: inline-block;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 25%;
      bottom: 0;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }
  }
}