// Colores de backgrounds
$background-generic: #495F7C;
$backgroubd-light: #C5C2C2;
$background-superlight: #FFF;
$background-disabled: #E7E7E7;
$background-progress-active: #81CE7F;
$background-selected-option: #F4BC4F;

// Colores de fuentes
$font-color-generic: #495F7C;
$font-color-light: #FFFFFF;
$font-colot-alternative: #95A8C0;

// Pokemon types
$pokemon-type-color-bug: #A8B821;
$pokemon-type-color-electric: #F8D030;
$pokemon-type-color-fire: #F07F2F;
$pokemon-type-color-grass: #78C84F;
$pokemon-type-color-normal: #A9A878;
$pokemon-type-color-rock: #A9A8A3;
$pokemon-type-color-dark: #6F5848;
$pokemon-type-color-fairy: #FFA3B1;
$pokemon-type-color-flying: #A890F0;
$pokemon-type-color-ground: #E0C069;
$pokemon-type-color-poison: #A040A1;
$pokemon-type-color-steel: #B8B8D0;
$pokemon-type-color-dragon: #7038F9;
$pokemon-type-color-fighting: #C03028;
$pokemon-type-color-ghost: #705798;
$pokemon-type-color-ice: #98D8D8;
$pokemon-type-color-physchic: #F85888;
$pokemon-type-color-water: #6890F0;