.pokemons-page {
    &__content {
      text-align: center;
    }
  
    &__pokemon-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1250px;
      margin: 0 auto;
    }
  
    &__show-more {
      margin-top: 30px;
  
    }
  }